<ul class="breadcrumbs">
  <li><%= link_to 'Home', root_path %></li>
	<li><%= link_to 'Budgets', budgets_path %></li>
	<li><%= link_to @budget.name, @budget %></li>
  <li class="current"><a href="#">Edit</a></li>
</ul>

<%= render 'form' %>
