<ul class="breadcrumbs">
  <li><%= link_to 'Home', root_path %></li>
	<li><%= link_to 'Movements', forecasts_path %></li>
	<li><%= link_to @forecast.period.name + ' - ' + @forecast.budget.name, @forecast %></li>
  <li class="current"><a href="#">Edit</a></li>
</ul>

<%= render 'form' %>
