.container {
  width: 100%;
  padding: 3px;

  @include for-size(huge) {
    margin: {
      left: auto;
      right: auto;
    }
    max-width: $screen-large-end;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: $grid-row-margin 0px;
  width: 100%;

  * {
    padding: 0px $grid-cell-padding;
    box-sizing: border-box;
  }
}

@mixin column-definition($scr-size, $col-size) {
  .col-#{$scr-size}-#{round($col-size)} {
    flex-basis: $col-size * 1%;
  }
}

@mixin grid-definition($size) {
  @include for-size($size) {
    @include column-definition($size, 100);
    @include column-definition($size, 75);
    @include column-definition($size, 50);
    @include column-definition($size, 100/3);
    @include column-definition($size, 25);
  }
}
/*************************
 *Columns size definition*
 *************************/
@include grid-definition(small);
@include grid-definition(medium);
@include grid-definition(large);
@include grid-definition(huge);
@include grid-definition(extra);
