/*************
 *Page widths*
 *************/
 //TODO: These sizes must be reviwed
$screen-small-end: 580px !default;
$screen-medium-begin: $screen-small-end + 1px;
$screen-medium-end: 790px !default;
$screen-large-begin: $screen-medium-end + 1px;
$screen-large-end: 1024px !default;
$screen-huge-begin: $screen-large-end + 1px;
$screen-huge-end: 2048px !default;
$screen-extra-begin: $screen-huge-end + 1px;

/********
 *Resets*
 ********/
$body-margin: 0px !default;
$small-body-top-padding: 10px !default;
$border-radius: 2px !default;

/********
 *Colors*
 ********/
//TODO: These colors must be reviwed
$white: rgb(255, 255, 255) !default;
$grey-dark: rgb(75, 75, 75) !default;
$grey-light: rgb(210, 210, 210) !default;
$green:  hsl(120, 98%, 67%) !default;
$red:    hsl(000, 98%, 67%) !default;
$yellow: hsl(060, 98%, 67%) !default;
$blue:   hsl(211, 98%, 67%) !default;
$shadow-color: rgba(0, 0, 0, 0.25) !default;
$text-darkness: 40 !default;

/******
 *Grid*
 ******/
$grid-container-padding:  3px !default;
$grid-row-margin: 3px !default;
$grid-cell-padding: 2px !default;
$grid-cell-border: 0px !default;

/******
 *Menu*
 ******/
$main-menu-background-color: $grey-dark;
$main-menu-text-color: $grey-light;
$main-menu-title-font-size: 1.5em !default;
$main-menu-title-padding: 3px !default;
$main-menu-bottom-margin: 10px !default;
$main-menu-height: 60px !default;
$main-menu-item-padding: 3px !default;
$main-menu-shadow-x-offset: 0px !default;
$main-menu-shadow-y-offset: 2px !default;
$main-menu-shadow-blur-radius: 2px !default;
$main-menu-shadow-spread-radius: 1px !default;


/*********
 *Shadows*
 *********/
$shadow-x-offset: 0px !default;
$shadow-y-offset: 1px !default;
$shadow-blur-radius: 2px !default;
$shadow-spread-radius: 0px !default;

$shadow-hover-blur-radius: 2px !default;
$shadow-hover-spread-radius: 1px !default;

$shadow-active-blur-radius: 1px !default;
$shadow-active-spread-radius: 0px !default;

/*********
 *Buttons*
 *********/
$button-padding-top: 0.4em !default;
$button-padding-bottom: 0.3em !default;
$button-padding-left: 0.6em !default;
$button-padding-right: 0.6em !default;
$button-font-size: 1em !default;
$button-line-height: 1 !default;
$button-margin-bottom: 10px !default;
$button-hover-lightness: 2 !default;
$button-active-darkness: 2 !default;

/*******
 *Links*
 *******/
 $link-hover-lightness: 20 !default;
 $link-margin-left: 0.2em !default;

/************
 *Animations*
 ************/
$animation-time-fast: 0.150s !default;
$animation-time-default: 0.250s !default;


/********
 *Tables*
 ********/
$table-border-width: 1px !default;
$table-cell-padding: 2px !default;
$table-background-light: 22 !default;


/*******
 *Forms*
 *******/
$form-border-width: 1px !default;
$form-label-font-size: 0.9em !default;
$form-input-font-size: 1em !default;
$form-input-font-weight: normal !default;
$form-input-height: 2em !default;
$form-input-line-height: 1.5 !default;
$form-input-padding-horizontal: 0.3em !default;
$form-input-padding-vertical: 0.2em !default;

$form-checkbox-margin-horizontal: 0em !default;
$form-checkbox-margin-top: 1.5em !default;
$form-checkbox-margin-bottom: 0em !default;